prod:
  DB_HOST: 'celebrity.c96lhqzh7wih.us-east-1.rds.amazonaws.com'
  DB_USER: 'postgres'
  DB_PASSWORD: '7Ol4X$$&IrG&'
  DB_NAME: 'celebrity'
  AWS_SES_ACCESS_KEY_ID: 'AKIAYZTKS46KQ2RLZ6T2'
  AWS_SES_SECRET_ACCESS_KEY: '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'
  AWS_SES_REGION: 'us-east-1'
  SESSION_TOKEN: 'H2V7sRCclOC9JvkzWZP4p0D75sUpK9fEFWQqGfyN'

beta:
  DB_HOST: 'celebrity.c96lhqzh7wih.us-east-1.rds.amazonaws.com'
  DB_USER: 'postgres'
  DB_PASSWORD: '7Ol4X$$&IrG&'
  DB_NAME: 'celebrity'
  AWS_SES_ACCESS_KEY_ID: 'AKIAYZTKS46KQ2RLZ6T2'
  AWS_SES_SECRET_ACCESS_KEY: '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'
  AWS_SES_REGION: 'us-east-1'
  SESSION_TOKEN: 'H2V7sRCclOC9JvkzWZP4p0D75sUpK9fEFWQqGfyN'

default:
  DB_HOST: 'celebrity.c96lhqzh7wih.us-east-1.rds.amazonaws.com'
  DB_USER: 'postgres'
  DB_PASSWORD: '7Ol4X$$&IrG&'
  DB_NAME: 'celebrity'
  AWS_SES_ACCESS_KEY_ID: 'AKIAYZTKS46KQ2RLZ6T2'
  AWS_SES_SECRET_ACCESS_KEY: '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'
  AWS_SES_REGION: 'us-east-1'
  SESSION_TOKEN: 'H2V7sRCclOC9JvkzWZP4p0D75sUpK9fEFWQqGfyN'
